---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* ==========================================================================
   CRITICAL CSS
   ========================================================================== */

@import "variables";

/*
   Vendor
   ========================================================================== */

@import "breakpoint"; // media query mixins
@import "mixins";
@import "reset";
@import "base";
@import "animations";
@import "utilities";
@import "buttons";

@import "masthead"; // page header with navigation
@import "breadcrumbs";
@import "page"; // page-post
@import "archive"; // archive listing
@import "toc"; // table of contents

// Non-critical
@import "tables";
@import "notices";
@import "thumbnail-grids";
@import "forms";
@import "google-search"; // Google search form box
@import "syntax-highlighting";
@import "tiles"; // post tiles
@import "review-box";
@import "banners"; // banner advertisements
// @import "footnotes";
@import "slickmap"; // SlickMap visual sitemap
@import "style-guide";
@import "colophon"; // site colophon
@import "vendor/magnific-popup/magnific-popup";
@import "vendor/bigfoot/bigfoot-number";
@import "print"
