{% if page.ads != false %}
<div class="page__sidebar">
  <div class="page_sidebar_links">
    <ul class="list-inline">
      <li><a href="{{ site.owner.linkedin_url }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="http://github.com/{{ site.owner.github }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="http://twitter.com/{{ site.owner.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  {% if site.owner.google.ad-slot != "" %}
   <div class="ad--sidebar">
  </div>
  {% endif %}
</div>
{% endif %}
