<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
            <span>
              <a href="https://github.com/{{ site.github_username }}"> <i class="fa fa-github"></i> <span class="username">{{ site.github_username }}</span> </a>
            </span>
            | <span>
              <a href="https://twitter.com/{{ site.twitter_username }}" class="twitter-follow-button" data-show-count="false"> <span class="icon  icon--twitter">
            <i class="fa fa-twitter"></i> </span> @{{ site.twitter_username }}</a>
            </span>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6"> Copyright &copy; <span itemprop="copyrightYear">2010</span> <span itemprop="copyrightHolder publisher">Simeon Pashley</span>. All rights reserved. </div>
        <nav class="col-md-6" style="text-align: right">
          <div class="pull-right">
            <ul>
              <li><a href="{{ site.url }}/privacy.html">Privacy</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>
