<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
{% if site.share_twitter == true %}
<!-- Twitter -->
<script type="text/javascript">
window.twttr = function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
    return window.twttr || (t = {
        _e: [],
        ready: function(f) {
            t._e.push(f)
        }
    });
}(document, "script", "twitter-wjs");
twttr.ready(function(twttr) {
    twttr.events.bind('follow', function(event) {
        ga('send', 'social', 'twitter', 'follow-' + event.data.screen_name);
    });
    twttr.events.bind('click', function(event) {
        ga('send', 'social', 'twitter', 'click-' + event.region);
    });
    twttr.events.bind('tweet', function(event) {
        ga('send', 'social', 'twitter', 'tweet');
    });
});
</script>
{% endif %}
