<footer class="site-footer">
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6"> Copyright &copy; <span itemprop="copyrightYear">2010 - {{ site.time | date: '%Y' }}</span> <span itemprop="copyrightHolder publisher">Simeon Pashley</span>. All rights reserved. </div>
        <nav class="col-sm-6" style="text-align: right">
          <div class="pull-right">
            <ul class="site-links list-inline">
              <li><a href="/privacy">Privacy</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>
