<article itemscope itemtype="http://schema.org/CreativeWork">
    <div class="homepage__item-body">
      <a class="homepage__item" href="{{ post.url }}"><h1 class="homepage__item-title" itemprop="headline">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1></a>
      <div class="homepage__item-meta">
        <span class="date published" itemprop="datePublished">
        <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
            {% assign d = post.date | date: "%-d" %}
            {% case d %}
              {% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>
              {% when '2' or '22' %}{{ d }}<sup>nd</sup>
              {% when '3' or '23' %}{{ d }}<sup>rd</sup>
              {% else %}{{ d }}<sup>th</sup>
              {% endcase %}{{ post.date | date: "%B %Y" }}</time>
        </span>
        {% assign readtime = post.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
        {% if readtime > 1 %}
        <span class="homepage__item-time"><svg class="icon"><use xlink:href="#icon-#stopwatch"></use></svg> {{ readtime }} min read</span>
        {% endif %}
      </div>
      {% if post.image.teaser %}
      <div class="homepage__item-thumb" {% if post.image.teaser %}style="background-image: url('/images/{{ post.image.teaser }}');"{% endif %}></div>
      {% endif %}

      <p class="homepage__item-excerpt" itemprop="text">{{ post.excerpt markdownify }}</p>

      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}
      {% if excerpt_words != content_words %}
      <div class="homepage__item-more">
      <a href="{{ post.url | prepend: site.baseurl }}/#read-more" class="read-more btn btn-info btn-lg">Read More <i class="fa fa-arrow-circle-right"></i></a>
      </div>
      {% endif %}
     {% assign taglist = post.tags | sort %}
     {% assign taglist_count = taglist | last | size %}
     {% if taglist_count > 0 %}
      <div class="homepage__item-tags">
         <i class="fa fa-tags text-primary"></i>
         {% for tag in taglist | order: descending %}
          <span class="homepage__item-tag">
            <a href="/tag/{{ tag | cgi_escape }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}</span>
          {% endfor %}
      </div>
      {% endif %}
    </div>
</article>
