<div id="side-profile" class="panel panel-default">
    <div class="panel-heading">Find Me</div>
    <div class="panel-body">
        <div>
            <i class="fa fa-file-text"></i> <a href="/resume">Resume / CV</a>
        </div>
        <div>
            <i class="fa fa-twitter"></i> <a href="https://twitter.com/simeonpashley">@simeonpashley</a>
        </div>
        <div>
            <i class="fa fa-github"></i> <a href="https://github.com/simeonpashley">@simeonpashley</a>
        </div>
        <div>
            <i class="fa fa-linkedin"></i> <a href="https://uk.linkedin.com/in/simeonpashley">@simeonpashley</a>
        </div>
        <div>
            <i class="fa fa-map-marker"></i> Sheffield, SY
        </div>
    </div>
</div>
