<h2>Find Me</h2>
<div class="container-fluid">
<div class="row">
<i class="fa fa-file-text"></i> <a href="/resume">Resume / CV</a>
</div>
<div class="row">
<i class="fa fa-twitter"></i> <a href="https://twitter.com/simeonpashley">@simeonpashley</a>
</div>
<div class="row">
<i class="fa fa-github"></i> <a href="https://github.com/gamelinchpin">@gamelinchpin</a>
</div>
<div class="row">
<i class="fa fa-linkedin"></i> <a href="https://uk.linkedin.com/in/simeonpashley">@simeonpashley</a>
</div>
<div class="row">
<i class="fa fa-map-marker"></i> Sheffield, SY
</div>
</div>
