{% if page.featured_image or page.featured_video_id %}
    <div class="topper">
        {% if page.featured_image %}
        <span class="img" style="background-image: url('{{ page.featured_image }}');">
        {% endif %}

        {% if page.featured_video_id %}
        <iframe src="https://www.youtube.com/embed/{{ page.featured_video_id }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
    </div>
{% endif %}

<div class="title-group">
    <h1 class="special">
        <span>
        {% if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.data.global.title }}
        {% endif %}
        </span>
    </h1>
    {% if page.id %}
    <aside>
        {% assign d = page.date | date: "%-d" %}
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>
          {% when '2' or '22' %}{{ d }}<sup>nd</sup>
          {% when '3' or '23' %}{{ d }}<sup>rd</sup>
          {% else %}{{ d }}<sup>th</sup>
          {% endcase %}
        {{ page.date | date: "%B %Y" }}
        {% if page.categories != empty %}
            &middot;
            {% for category in page.categories %}
                <span>{{ category }}</span>
            {% endfor %}
        {% endif %}
    </aside>
    {% endif %}
    <p class="lead">
        {% if page.lead_text %}
            {{ page.lead_text }}
        {% elsif post.lead_text %}
            {{ post.lead_text }}
        {% endif %}
    </p>
</div>
