/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.homepage__item {
  display: flex;
  padding-top: 1.5em;

  /* hover state */
  &:hover {

    .homepage__item-title,
    .homepage__item-excerpt {
      color: #000;
    }

    .homepage__item-title {
      text-decoration: underline;
    }

    .homepage__item-thumb {
      box-shadow: 0 0 10px rgba(#000, 0.5);
    }
  }
}

.homepage__item-body {
  flex: 3;
  order: 1;
  padding: 1em 0 1em 1em;
  @include breakpoint($small) {
    padding: 0.5em;
  }
  margin-bottom: 1em;
  background: $white;
}

.homepage__item-title {
  margin: 0 !important; // override
  padding: 0;
  font-family: $sans-serif-narrow;
  font-size: 1.25rem;
}

.homepage__item-meta {
  margin-top: 0.5em;
  font-family: $sans-serif;
  font-size: 0.64rem;
  text-transform: uppercase;
  color: $text-color;
}

.homepage__item-time {

  &:before {
    content: "";
    padding-left: 0.45em;
    padding-right: 0.45em;
  }
}

.homepage__item-excerpt {
  margin: 0.5em 0 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.homepage__item-thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  background-color: $light-gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: $border-radius;
}

.homepage__item-tags {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.5em;
  padding-right: 1em;
  .homepage__item-tag {
    font-size: 0.8em;
    color: $text-muted-color;
    padding-left: 1em;
  }
}


.homepage__item-more {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.5em;
  margin-right: 1em;
  .read-more {
      position: relative;
      padding-right: 2.5rem;
      i {
          position: absolute;
          right: 0.5rem;
          top: 50%;
          transform: translateY(-54%);
          font-size: 2rem;
          line-height: 100%;
      }
  }}
