
%oswald { font-family: 'Oswald', sans-serif; }
%roboto { font-family: 'Roboto Condensed', sans-serif; }

body {
  margin-top: 9rem;

  @extend %roboto;
  font-size: 1.8rem;
  line-height: 3rem;
  padding-top: 5rem;
  -webkit-font-smoothing: antialiased;

  -webkit-transition: all 225ms ease;
  transition: all 225ms ease;
}

p {
    margin-bottom: 2em;
}

section, header, footer, main, article, nav, aside { position: relative; }
a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $site-secondary;

    &:hover { color: #6165FF; }
}

.btn {
    text-transform: uppercase;
    font-weight: 400;
    @extend %oswald;
}

h1, h2, h3, h4, h5, h6 { @extend %oswald; }
::selection {
    background: #086AFF;
    color: #fff;
}

.brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 2rem;
  margin-right: 10rem;
  font-weight: bold;
  color: $site-primary;

  text-transform: none;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.6rem;
  padding-left: 2rem;
  line-height: 5rem;

  i { //font-awesome icons
      transition: inherit;
      color: inherit;
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
  }

  img {
    vertical-align: top;
  }

  &:hover {
    text-decoration: none;
    color: $site-secondary;
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  };
}

nav.navbar {
  background-color: #fff;
  background-image: none;
  border-top: 5px solid #efefef;
  padding: 1rem 0;
  border-bottom: none;
  // margin-bottom: 0;
  margin: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);

  @include opacity(0.95);

  a {
      text-transform: uppercase;
      font-size: 1.6rem;
  }

  li {
    a {
      margin-top: 5px;
      color: #333;
      font-weight: bold;
      text-shadow: none;
      border-top: 3px solid white;
      &:hover {
        color: #666;
        border-top: 3px solid #dae251;
      };
    }
  }
}

.title-group {
    text-align: center;
    padding: 0 1.5rem;
    margin: 3rem 0 5rem;

    p {
        max-width: 80rem;
        margin: 2.5rem auto 0;
    }
}

h1.special {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    text-transform: uppercase;
    @extend %oswald;
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 700;
    color: $site-primary;

    span {
        display: inline-block;
        position: relative;
        padding: 0 1.5rem 1em;
        max-width: 100rem;

        // &:before, &:after {
        //     content: '';
        //     position: absolute;
        //     display: block;
        //     height: 1px;
        //     background: #e8e8e8;
        //     width: 99999999px;
        //     top: 50%;
        //     transform: translateY(-50%);
        // }

        // &:before { left: 100%; }
        // &:after { right: 100%; }
        // color: #CCCCCC;
        text-shadow: 0 1px 0 darken($brand-color, 10%), 0 2px 0 darken($brand-color, 20%),
                 0 3px 0 darken($brand-color, 30%), 0 4px 0 darken($brand-color, 40%),
                 0 5px 0 darken($brand-color, 50%), 0 6px 0 darken($brand-color, 60%),
                 0 7px 0 darken($brand-color, 70%), 0 8px 7px rgba(0, 0, 0, 0.4),
                 0 9px 10px rgba(0, 0, 0, 0.2);

    }
}

.tile {
    position: relative;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
    margin-bottom: 2.5rem;

    .inner-guts { padding: 3rem; }

    h2 {
        margin: 0;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: -0.05em;
        line-height: 3rem;
    }

    .featurette {
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 1.5rem;
        width: 100%;
        height: 55rem;
        background-color: #e8e8e8;

        .img {
            background-size: cover;
            background-position: 50% 0;
            background-repeat: no-repeat;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 225ms ease;
            transform: scale(1);

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                content: '';
                background: #000;
                opacity: 0.4;
                transition: all 225ms ease;
            }
        }

        iframe {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            .img {
                transform: scale(1.2);

                &:before {
                    opacity: 0.2;
                }
            }
        }
    }

    .excerpt {
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
        color: #484848;

        p {
            margin: 0.5em 0;
        }
    }

    .tags {
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: 1.5rem;

        span {
            padding: 1px 5px;
            font-size: 1.2rem;
            line-height: 1.5;
            text-transform: uppercase;
            @extend %oswald;
        }
    }

    .read-more {
        margin-top: 5rem;
        width: 100%;
        max-width: 17.5rem;
        position: relative;
        padding-right: 7.5rem;

        i {
            position: absolute;
            right: 1.5rem;
            top: 50%;
            transform: translateY(-54%);
            font-size: 3rem;
            line-height: 100%;
        }
    }
}

// aside {
//     font-size: 17px;
//     color: #525252;
//     margin: 16px 0;
//     @extend %oswald;

//     span {
//         text-transform: uppercase;
//         margin: 0 5px;
//     }
// }

.main {
  h2, h3 {
    padding-bottom: 1rem;
  }
}

#author_image { float: left; padding-right: 0.5rem; }
.author_sites { padding-left: 6.5rem }

article div.body { clear: both; }

.post_share { margin-top: 1.5rem; }
.post_nav { margin-top: 2rem; text-align: center; }

ol {
  li {
    margin: 0.7rem 0;

    p {
      margin-bottom: 0;
    }
  }
}

footer {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  background: #303030;
  color: #CACACA;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;

  h4 {
    margin-bottom: 0.5rem;
  }

  .copyright {
    padding: 1em 0;
    background: #3A3A3A;
    color: #999;
    border-bottom: 0.5rem solid black;
    .site-links {

    }
  }
}

/* About page */
#contributors, #contributors .member_posts > ul {
  list-style-type: none;
  margin: 0;
}
#contributors > li {
  border: 1px solid #333;
  border-radius: 2.5rem;
  padding: 2.5rem;
  margin-bottom: 2rem;
}
#contributors .member_image {
  float: left;
  padding-right: 5px;
}
#contributors .member_name {
  font-size: 2rem;
  font-weight: bold;
  float: left;
  padding-right: 5px;
}
#contributors .member_position {
  margin-bottom: 1rem;
}
#contributors .member_posts {
  clear: both;
}
#contributors .member_posts > h3 {
  padding: 1rem 0 2px 0;
  font-size: 14px;
}


.site-footer {
    margin-top: 200px;
}

.pagination-wrap {
    text-align: center;
}

.topper {
    height: 500px;
    position: relative;

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}

pre {
    margin: 75px 0px;
}


@media only screen and (max-width : 991px) {
    pre {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width : 480px) {
    .tile .featurette, .topper {
        height: 300px;
    }

    h1.special,
    .tile h2 {
        font-size: 4rem;
        line-height: 44px;
    }

    .tile .inner-guts {
        padding: 1.5rem 2.5rem;
    }

    .tile .excerpt {
        font-size: 22px;
        line-height: 35px;
    }
}
