<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/WebPage">
    {% include header.html %}

    <div class="container main">
      <div class="row">
        {% if page.type %}
        {% include page-type.html %}
        {% elsif page.is_blog %}
        {% include page-is_blog.html %}
        {% else %}
        {% include page-default.html %}
        {% endif %}
      </div><!-- row -->
    </div> <!-- /container -->
    {% include footer.html %}
  </body>

  {% include footer-js.html %}
</html>
