<!DOCTYPE html>
<html>

  {% include head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">

    {% include header.html %}

    <div class="container main">
      <br>
      <div class="row">
        {% if page.type %}
        <div class="col-md-12" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/{{ page.type }}">
        {% elsif page.is_blog %}
        <div class="col-md-9" itemprop="mainContentOfPage">
        {% else %}
        <div class="col-md-12" itemprop="mainContentOfPage">
        {% endif %}
        {{ content }}
        </div>
        {% if page.is_blog %}
        <div class="col-md-3">
          <aside class="well well-sm">
            <nav>
              <ul class="nav nav-stacked">
                <li class="nav-header">Recent Posts</li>
                {% for post in site.posts limit:5 %}
                <li><a href="{{ site.url }}{{ post.url }}/">{{ post.title }}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </aside>
        </div>
        {% endif %}
      </div>
    </div> <!-- /container -->
    {% include footer.html %}

  </body>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  {% if site.share_twitter == true %}
  <!-- Twitter -->
  <script type="text/javascript">
    window.twttr = function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0];
      if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;
        js.src="//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
      }
      return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
    }(document,"script","twitter-wjs");
    twttr.ready(function(twttr) {
      twttr.events.bind('follow', function (event) {
        ga('send', 'social', 'twitter', 'follow-' + event.data.screen_name);
      });
      twttr.events.bind('click', function (event) {
        ga('send', 'social', 'twitter', 'click-' + event.region);
      });
      twttr.events.bind('tweet', function (event) {
        ga('send', 'social', 'twitter', 'tweet');
      });
    });
  </script>
  {% endif %}
  {% if site.share_google == true %}
  <!-- Google Plus -->
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  {% endif %}
  {% if site.share_facebook == true %}
  <!-- Facebook -->
  <div id="fb-root"></div>
  <script type="text/javascript">
    window.fbAsyncInit = function() {
      try {
        if (FB && FB.Event && FB.Event.subscribe) {
          FB.Event.subscribe('edge.create', function(opt_target) {
            ga('send', 'social', 'facebook', 'like', opt_target);
          });
          FB.Event.subscribe('edge.remove', function(opt_target) {
            ga('send', 'social', 'facebook', 'unlike', opt_target);
          });
          FB.Event.subscribe('message.send', function(opt_target) {
            ga('send', 'social', 'facebook', 'send', opt_target);
          });
        }
      } catch (e) {}
    }
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  {% endif %}
</html>
